body{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 125px;
    background-color: rgb(138, 14, 14);
    color: white;
}

h1 {
    margin: 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.listFormWrapper{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.wrap {
    display: flex;
    flex-direction: row;
}

.listItem li {
    word-break: break-all;
    font-size: 20px;
}

li input {
    text-align: center;
    justify-content: flex-end;
}

form {
    width: 100%;
    text-align: center;
}

form input {
    width: 550px;
    border-radius: 4px;
    border:1px solid #cccccc;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    color: rgb(59, 59, 59);
}

button {
    width: 570px;
    background-color: rgb(138, 14, 14);
    height: 50px;
    border-radius: 4px;
    outline: none;
    padding: 15px;
    color: white;
    font-size: 20px;
}

button:hover{
    cursor: pointer;
}

/* for the checkboxes */

/* This is used to create the clickable box */
.checkmark {
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgb(206, 206, 206);
    border-radius: 5px;
    position: relative;
    transition: background-color 0.4s;
}

/* This is used to create the tick on the box */
.checkmark::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 17px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg) scale(2);
    opacity: 0;
    transition: all 0.4s
}

/* This changes the background of the box once it is ticked */
.checkboxWrap input:checked ~ .checkmark{
    background-color: #08bb68;
}

/* This makes the tick visible */
.checkboxWrap input:checked ~ .checkmark::after{
    opacity: 1;
    transform: translate(-50%, -50%) rotateZ(45deg) scale(1);
}

img {
    width: 30px;
    height: auto;
    margin-left: 20px;
}

.done {
    text-decoration: line-through;
    background-color: rgba(109, 236, 109, 0.555);
}